
<div class="jumbotron log">
  <div class="container">
    <div class="row">
      <div class="col-md-8 logintext">
        <h2>Welcome to</h2>
        <h1 class="animated fadeInDown">Constellation</h1>
        <p>Connect with your friends — and other fascinating people.</p>
        <p>Get in-the-moment updates on the things that interest you.</p> 
        <p>And watch events unfold, in real time, from every angle.</p>
      </div>
      <div class="col-md-4 animated fadeInUp">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), 
                            html: { class: "well loginform"}) do |f| %>
        <h2>Log in</h2>
        <hr>
        <%= f.input :email %>
        <%= f.input :password %>
        <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
        <% end -%>
        <div class="actions">
          <%= f.button :submit, "Log in" %>
        </div>
        <div class="panel-body lnks">
          <%= render "devise/shared/links" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>